<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ViewBag.Title</title>
    <link href="~/js/ElementUI/element-ui.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/js/vue/vue.js"></script>
    <script src="~/js/ElementUI/element-ui.js"></script>
    <script src="~/js/axios/axios.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/components.js"></script>
    <script src="~/js/page.js"></script>
</body>
</html>
